<header>
        <nav>
            <a class="logo" href="/">WaveHub</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/landpage">Início</a></li>
                <li><a href="/bot">Bot's  <i class="fa-solid fa-robot"></i></a></li>
                <li><a href="/rpa">RPA's  <i class="fa-solid fa-gears"></i></a></li>
                <li><a href="#">{{ user_name.split()[0] }}  <i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
</header>