<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaveHub</title>
    <link rel="stylesheet" href="/static/css/landpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <header>
        <nav>
            <a class="logo" href="/">WaveHub</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#">Bot's  <i class="fa-solid fa-robot"></i></a></li>
                <li><a href="#">RPA's  <i class="fa-solid fa-gears"></i></a></li>
                <li><a href="/#">Perfil  <i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <p>
                Acompanhe os principais KPIs por setor, incluindo demanda, volume de peças e percentual de execução.
                Para uma análise mais aprofundada, selecione {icon:expand} no card correspondente
            </p>
        </div>
        <div class="carousel-wrapper">
            <button class="carousel-btn prev" type="button" aria-label="Scroll left">‹</button>

            <div class="carousel">
                <div class="card card1">
                    <h3>CD 1200</h3>
                    <div class="card-info">
                        <p>Demanda:</p>
                        <p>Pessoas:</p>
                        <p>Finalizado:</p>
                    </div>
                </div>

                <div class="card card2">
                    <h3>Abastecimento de Lojas</h3>
                    <div class="card-info">
                        <p>Demanda:</p>
                        <p>Pessoas:</p>
                        <p>Finalizado:</p>
                    </div>
                </div>

                <div class="card card3">
                    <h3>Online</h3>
                    <div class="card-info">
                        <p>Demanda:</p>
                        <p>Pessoas:</p>
                        <p>Finalizado:</p>
                    </div>
                </div>

                <div class="card card4">
                    <h3>Pesados</h3>
                    <div class="card-info">
                        <p>Demanda:</p>
                        <p>Pessoas:</p>
                        <p>Finalizado:</p>
                    </div>
                </div>

                <div class="card card5">
                    <h3>P.A.R</h3>
                    <div class="card-info">
                        <p>Demanda:</p>
                        <p>Pessoas:</p>
                        <p>Finalizado:</p>
                    </div>
                </div>
            </div>

            <button class="carousel-btn next" type="button" aria-label="Scroll right">›</button>
        </div>
    </main>
    
    <script src="../static/js/landpage.js"></script>
</body>
</html>