<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaveHub</title>
    <link rel="stylesheet" href="/static/css/landpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=expand_content" />
</head>
<body>

    <header>
        <nav>
            <a class="logo" href="/">WaveHub</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#">Bot's  <i class="fa-solid fa-robot"></i></a></li>
                <li><a href="#">RPA's  <i class="fa-solid fa-gears"></i></a></li>
                <li><a href="#">{{ user_name.split()[0] }}  <i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="descricao">
            <p>
                Acompanhe os principais KPIs por setor, incluindo demanda, volume de peças e percentual de execução.<br>
                Para uma análise mais aprofundada, selecione <img src="../static/img/expand_content_icon.png" alt="expand"> no card correspondente.
            </p>
        </div>
        <div class="carousel-wrapper">
            <button class="carousel-btn prev" type="button" aria-label="Scroll left">‹</button>

            <div class="carousel">
                <div class="card card1">
                    <h3>CD 1200</h3>
                    <div class="card-info">
                        <p>Demanda: {{ t_dem }}</p>
                        <p>Pessoas: {{ t_peo }}</p>
                        <p>Finalizado: 45%</p>
                    </div>

                    <a href="/" class="expand-btn">
                        <img src="../static/img/expand_content_icon.png" alt="Expandir">
                    </a>
                </div>

                <div class="card card2">
                    <h3>Abastecimento de Lojas</h3>
                    <div class="card-info">
                        {% for sector in sectors %}
                        {% if sector['id_sector'] == 1 %}
                        <p>Demanda: {{ sector['demand'] }}</p>
                        <p>Pessoas: {{ sector['peoples'] }}</p>
                        <p>Finalizado:</p>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <a href="/" class="expand-btn">
                        <img src="../static/img/expand_content_icon.png" alt="Expandir">
                    </a>
                </div>

                <div class="card card3">
                    <h3>Online</h3>
                    <div class="card-info">
                        {% for sector in sectors %}
                        {% if sector['id_sector'] == 2 %}
                        <p>Demanda: {{ sector['demand'] }}</p>
                        <p>Pessoas: {{ sector['peoples'] }}</p>
                        <p>Finalizado:</p>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <a href="/" class="expand-btn">
                        <img src="../static/img/expand_content_icon.png" alt="Expandir">
                    </a>
                </div>

                <div class="card card4">
                    <h3>Pesados</h3>
                    <div class="card-info">
                        {% for sector in sectors %}
                        {% if sector['id_sector'] == 3 %}
                        <p>Demanda: {{ sector['demand'] }}</p>
                        <p>Pessoas: {{ sector['peoples'] }}</p>
                        <p>Finalizado:</p>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <a href="/" class="expand-btn">
                        <img src="../static/img/expand_content_icon.png" alt="Expandir">
                    </a>
                </div>

                <div class="card card5">
                    <h3>P.A.R</h3>
                    <div class="card-info">
                        {% for sector in sectors %}
                        {% if sector['id_sector'] == 4 %}
                        <p>Demanda: {{ sector['demand'] }}</p>
                        <p>Pessoas: {{ sector['peoples'] }}</p>
                        <p>Finalizado:</p>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <a href="/" class="expand-btn">
                        <img src="../static/img/expand_content_icon.png" alt="Expandir">
                    </a>
                </div>
            </div>

            <button class="carousel-btn next" type="button" aria-label="Scroll right">›</button>
        </div>
    </main>
    
    <script src="../static/js/landpage.js"></script>
</body>
</html>