<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="slogan">
        <h2>Dedicação total a você!</h2>
        <p>
            Sua central inteligente para RPA, dashboards e gestão operacional.
        </p>
    </div>

    <main class="container">
        <div class="forms-track">
            <section class="panel">
                <form>
                    <h1><a class="logo" href="/">AppWave</a></h1>
                    <h1>Cadastre-se</h1>
                    <div class="input_box">
                        <input placeholder="Nome completo" type="text">
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input_box">
                        <input placeholder="Usuário" type="email">
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input_box">
                        <input placeholder="Senha" type="password">
                        <i class="bx bxs-lock-alt"></i>
                    </div>

                    <div class="remember-forgot">
                        <label><input type="checkbox">Lembrar senha</label>
                        <a href="#">Esqueci a senha</a>
                    </div>

                    <button class="login_button" type="submit">Cadastrar</button>

                    <div class="register-link">
                        <p>Já possui conta? <a href="/login">Voltar para login</a></p>
                    </div>
                </form>
            </section>
        </div>
    
    </main>
</body>
</html>